:root {
    --bg: #ECFDF5;
    --text: #273549;
    --mainColor: #10B981;
    --lightText: #6B7280;
}

body {
    background-color: var(--bg);
    ;
    color: var(--text);
}

.passwords p {
    background-color: var(--text);
    color: var(--mainColor);
    width: fit-content;
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
}